### Pyspark Dataframes
- Filter Operation
- &,|,==
- ~

In [11]:
from pyspark.sql import SparkSession

In [12]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [13]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Mahesh| 31|        10| 30000|
|   Raju| 30|         8| 25000|
|  Pooja| 29|         4| 20000|
|  Parul| 24|         3| 20000|
|  Shiva| 21|         1| 15000|
|Kshitij| 23|         2| 18000|
+-------+---+----------+------+

### Filter Operations

In [14]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Pooja| 29|         4| 20000|
|  Parul| 24|         3| 20000|
|  Shiva| 21|         1| 15000|
|Kshitij| 23|         2| 18000|
+-------+---+----------+------+

In [15]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Pooja| 29|
|  Parul| 24|
|  Shiva| 21|
|Kshitij| 23|
+-------+---+

In [16]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Pooja| 29|         4| 20000|
|  Parul| 24|         3| 20000|
|  Shiva| 21|         1| 15000|
|Kshitij| 23|         2| 18000|
+-------+---+----------+------+

In [17]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Mahesh| 31|        10| 30000|
|   Raju| 30|         8| 25000|
|  Pooja| 29|         4| 20000|
|  Parul| 24|         3| 20000|
|  Shiva| 21|         1| 15000|
|Kshitij| 23|         2| 18000|
+-------+---+----------+------+

In [9]:
#inservers filter option
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|Mahesh| 31|        10| 30000|
|  Raju| 30|         8| 25000|
+------+---+----------+------+