####  We will Cover
- PySpark Dataframe 
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming

In [20]:
from pyspark.sql import SparkSession

In [21]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [22]:
spark

In [23]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [24]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [25]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Mahesh| 31|        10| 30000|
|   Raju| 30|         8| 25000|
|  Pooja| 29|         4| 20000|
|  Parul| 24|         3| 20000|
|  Shiva| 21|         1| 15000|
|Kshitij| 23|         2| 18000|
+-------+---+----------+------+

In [26]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [27]:
#list of columns
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [7]:
#check Data types
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [8]:
#print first three lines
df_pyspark.head(3)

[Row(Name='Mahesh', age=31, Experience=10, Salary=30000),
 Row(Name='Raju', age=30, Experience=8, Salary=25000),
 Row(Name='Pooja', age=29, Experience=4, Salary=20000)]

In [9]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Mahesh| 31|        10| 30000|
|   Raju| 30|         8| 25000|
|  Pooja| 29|         4| 20000|
|  Parul| 24|         3| 20000|
|  Shiva| 21|         1| 15000|
|Kshitij| 23|         2| 18000|
+-------+---+----------+------+

In [28]:
#select single column
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
| Mahesh|
|   Raju|
|  Pooja|
|  Parul|
|  Shiva|
|Kshitij|
+-------+

In [10]:
#select multiple columns
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
| Mahesh|        10|
|   Raju|         8|
|  Pooja|         4|
|  Parul|         3|
|  Shiva|         1|
|Kshitij|         2|
+-------+----------+

In [32]:
#Check data types
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [13]:
#Check summary description
df_pyspark.describe().show()

+-------+-------+------------------+-----------------+------------------+
|summary|   Name|               age|       Experience|            Salary|
+-------+-------+------------------+-----------------+------------------+
|  count|      6|                 6|                6|                 6|
|   mean|   null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|   null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Kshitij|                21|                1|             15000|
|    max|  Shiva|                31|               10|             30000|
+-------+-------+------------------+-----------------+------------------+

In [33]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [15]:
df_pyspark.show()

+-------+---+----------+------+-----------------------+
|   Name|age|Experience|Salary|Experience After 2 year|
+-------+---+----------+------+-----------------------+
| Mahesh| 31|        10| 30000|                     12|
|   Raju| 30|         8| 25000|                     10|
|  Pooja| 29|         4| 20000|                      6|
|  Parul| 24|         3| 20000|                      5|
|  Shiva| 21|         1| 15000|                      3|
|Kshitij| 23|         2| 18000|                      4|
+-------+---+----------+------+-----------------------+

In [34]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [35]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Mahesh| 31|        10| 30000|
|   Raju| 30|         8| 25000|
|  Pooja| 29|         4| 20000|
|  Parul| 24|         3| 20000|
|  Shiva| 21|         1| 15000|
|Kshitij| 23|         2| 18000|
+-------+---+----------+------+

In [18]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+------+
|New Name|age|Experience|Salary|
+--------+---+----------+------+
|  Mahesh| 31|        10| 30000|
|    Raju| 30|         8| 25000|
|   Pooja| 29|         4| 20000|
|   Parul| 24|         3| 20000|
|   Shiva| 21|         1| 15000|
| Kshitij| 23|         2| 18000|
+--------+---+----------+------+